<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Survey2</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" clear><ion-icon name="person"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header color="primary">
    Personal Information
  </ion-card-header>
  <ion-card-content>

      <ion-list>

          <ion-item>
            <ion-input type="text" [(ngModel)]="user.name" placeholder="First Name"></ion-input>
          </ion-item>
      
        </ion-list>
        <ion-list>
      
          <ion-item>
            <ion-input type="text" [(ngModel)]="user.secname" placeholder="Second Name"></ion-input>
          </ion-item>
      
        </ion-list>
        <ion-list>
          
          <ion-item>
            <ion-input type="text" [(ngModel)]="user.Sname" placeholder="Surname"></ion-input>
          </ion-item>
      
        </ion-list>
        <ion-list>
          
          <ion-item>
            <ion-input type="tel" [(ngModel)]="user.Cnum1" placeholder="Cellphone Number"></ion-input>
          </ion-item>
      
        </ion-list>
        <ion-list>
          
          <ion-item>
            <ion-input type="tel" [(ngModel)]="user.gender" placeholder="Cellphone Number 2"></ion-input>
          </ion-item>
      
        </ion-list>
        <ion-list>
          
          <ion-item>
            <ion-input type="email" [(ngModel)]="user.email" placeholder="Email"></ion-input>
          </ion-item>
      
        </ion-list>

  </ion-card-content>
</ion-card>

<ion-button (click)="addIdea()" color="primary">Primary</ion-button>